.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #15171c;
  padding: 10px;
  border-radius: 10px;
  margin: 0 6px;
  z-index: 1;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  color: #fff;
  font-size: 24px;
  font-style: italic;
}

.navAccount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  color: #fff;
  font-size: 24px;
  padding-right: 10px;
  gap: 20px;
}


.falock {
  color: #fff;
} 

.iconButton:hover {
  background-color: #A2B4C8;
}

.card{
  position: absolute;
  top:70px; 
  right: 15px;
  background-color: rgb(47, 79, 79);
  z-index: 5;
  border-radius: 8px;
  color: #fff;
  padding: 6px;
}

.list {
  margin: 0 auto;
  padding: 4px;
  list-style: none;
}

.logout {
  text-decoration: none;
  color: #fff;
}